@import "tailwindcss";
:root {
  --primary: #0A2342;
  --secondary: #C6A052;
  --accent: #1F4585;
  --surface: #F4F7F9;
  --text: #333333;
  background-color: var(--surface);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

